
.main-buttons {
    display:flex;
    flex-direction: row;
    gap: 50px;
    background-color:black;
    height: 50px;
    border: none;
  
    

}
body{
    background-color: black;
}
.para{
    color: wheat;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.title{
    display: block;
    font: bolder;
    font-style: italic;
    text-align: center;
    color: gold;
    font-size: 70px;
}
.address{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(217, 151, 30);
    font-size: larger;
}
dt{
    color: gold;
    text-align: center;
}
a{
    color: rgb(217, 151, 30);
    font-size: larger;
}
.return{
    color: wheat;
    font-size: larger;
    margin-left: 40%;
}
.main-buttons a{
    /*background-color: black;*/
    height: fit-content;
    width: fit-content;
   font-style: initial;
    font-size: 40px;
    color :gold;
    border:none;
    box-sizing: border-box;
}